body {
    font-size: 20px;
}

.header {
    font-size: 50px;
    text-align: center;
}

.sele {
    border-radius: 2px;
    border-color: red;
    border-style: solid;
    color: red;
}

button {
    margin: 5px;
}

#blurb {
    margin-left: 50px;
}

.col-2 {
    width: 144px;
    height: 144px;
    float: left;
    padding: 5px;
}

.name {
    size: 14px;
}

.greyed {
    opacity: 50%;
}

.portrait {
    width: 90px;
    height: 90px;
}

.weaponpic {
    height: 45px;
    width: 45px;
}

#display {
    height: 150px;
    width: 150px;
    margin-bottom: 20px;
}